USE [PJPNavisionExtension]
GO
/****** Object:  Table [dbo].[VTK_Area]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Area](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nama_area] [varchar](100) NULL,
	[kode_area] [varchar](20) NOT NULL,
	[groups] [varchar](5) NULL,
	[id_supervisor] [text] NOT NULL,
	[id_teknisi] [text] NOT NULL,
	[approver] [text] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_Area] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_Barang]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Barang](
	[id_brg] [bigint] IDENTITY(1,1) NOT NULL,
	[no_lk] [varchar](50) NOT NULL,
	[no_brg] [varchar](50) NOT NULL,
	[nama_brg] [varchar](255) NULL,
	[qty] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_Barang] PRIMARY KEY CLUSTERED 
(
	[id_brg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_Contract]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Contract](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[no_contract] [varchar](30) NULL,
	[no_cus] [varchar](50) NOT NULL,
	[type_service] [varchar](50) NULL,
	[tgl_contract] [date] NULL,
	[tgl_contract_exp] [date] NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_Contract_Machine]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Contract_Machine](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_contract] [varchar](15) NOT NULL,
	[no_seri] [varchar](15) NOT NULL,
	[tgl_instalasi] [date] NOT NULL,
	[lokasi] [text] NOT NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_Contract_Machine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_Contract_Type]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Contract_Type](
	[type_name] [varchar](10) NOT NULL,
	[last_count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_Customer]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Customer](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[no_cus] [varchar](15) NOT NULL,
	[nama_cus] [varchar](100) NOT NULL,
	[no_seri] [varchar](15) NULL,
	[alias] [varchar](150) NOT NULL,
	[kode_area] [bigint] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_Customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_Instalasi]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_Instalasi](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_kontrak] [varchar](15) NOT NULL,
	[no_seri] [varchar](15) NOT NULL,
	[tgl_instalasi] [date] NOT NULL,
	[lokasi] [text] NOT NULL,
	[created_by] [varchar](15) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_Instalasi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_LK]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_LK](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[no_rep] [varchar](15) NULL,
	[no_seri] [varchar](15) NULL,
	[no_lap] [varchar](15) NULL,
	[no_fd] [varchar](15) NULL,
	[id_teknisi] [bigint] NULL,
	[type] [int] NOT NULL,
	[no_cus] [varchar](15) NULL,
	[no_call] [varchar](15) NULL,
	[pelapor] [varchar](100) NULL,
	[waktu_call] [datetime] NULL,
	[waktu_dtg] [datetime] NULL,
	[status_call] [varchar](10) NULL,
	[keluhan] [varchar](255) NULL,
	[kat_keluhan] [varchar](10) NULL,
	[problem] [varchar](255) NULL,
	[kat_problem] [varchar](10) NULL,
	[solusi] [varchar](255) NULL,
	[waktu_mulai] [datetime] NULL,
	[waktu_selesai] [datetime] NULL,
	[count_bw] [bigint] NULL,
	[count_cl] [bigint] NULL,
	[saran] [varchar](255) NULL,
	[status_res] [varchar](10) NULL,
	[rep_ke] [int] NULL,
	[pic] [varchar](255) NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[deleted_at] [datetime] NULL,
	[status_appr] [int] NULL,
 CONSTRAINT [PK_VTK_LK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_LK_Approval]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_LK_Approval](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[id_lk] [bigint] NOT NULL,
	[id_approver] [bigint] NOT NULL,
	[approved] [smallint] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_LK_Approval] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VTK_User]    Script Date: 28/08/2025 16.47.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VTK_User](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[role] [text] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[created_by] [bigint] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_VTK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VTK_Area] ON 

INSERT [dbo].[VTK_Area] ([id], [nama_area], [kode_area], [groups], [id_supervisor], [id_teknisi], [approver], [updated_at], [created_at]) VALUES (1, N'Bungur', N'QWE1', N'QWE', N'["26","28","25"]', N'["2","3","5"]', N'["21"]', CAST(N'2025-08-22T13:43:10.000' AS DateTime), CAST(N'2025-08-18T13:53:19.500' AS DateTime))
INSERT [dbo].[VTK_Area] ([id], [nama_area], [kode_area], [groups], [id_supervisor], [id_teknisi], [approver], [updated_at], [created_at]) VALUES (2, N'dsa', N'QWE2', N'QWE', N'["26","28","25"]', N'["16","17","19"]', N'["21"]', CAST(N'2025-08-22T13:43:10.000' AS DateTime), CAST(N'2025-08-18T13:53:19.500' AS DateTime))
INSERT [dbo].[VTK_Area] ([id], [nama_area], [kode_area], [groups], [id_supervisor], [id_teknisi], [approver], [updated_at], [created_at]) VALUES (3, N'dsa', N'F1', N'F', N'["25","27"]', N'["2"]', N'["21","22"]', CAST(N'2025-08-22T13:43:14.000' AS DateTime), CAST(N'2025-08-21T09:36:28.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_Area] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_Barang] ON 

INSERT [dbo].[VTK_Barang] ([id_brg], [no_lk], [no_brg], [nama_brg], [qty], [created_at]) VALUES (1, N'1', N'A5E7150', N'BIZHUB PRESS C1100', 1, CAST(N'2025-08-22T13:44:48.647' AS DateTime))
INSERT [dbo].[VTK_Barang] ([id_brg], [no_lk], [no_brg], [nama_brg], [qty], [created_at]) VALUES (2, N'1', N'A5E7250', N'BIZHUB PRESS C1100', 1, CAST(N'2025-08-22T13:44:48.647' AS DateTime))
INSERT [dbo].[VTK_Barang] ([id_brg], [no_lk], [no_brg], [nama_brg], [qty], [created_at]) VALUES (3, N'1', N'A5E7350', N'BIZHUB PRESS C1100', 1, CAST(N'2025-08-22T13:44:48.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_Barang] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_Contract] ON 

INSERT [dbo].[VTK_Contract] ([id], [no_contract], [no_cus], [type_service], [tgl_contract], [tgl_contract_exp], [created_by], [created_at]) VALUES (1, N'0/PW-GR/25', N'CT2400197', N'GR', CAST(N'2025-08-01' AS Date), CAST(N'2025-08-26' AS Date), 1, CAST(N'2025-08-01T10:41:47.983' AS DateTime))
INSERT [dbo].[VTK_Contract] ([id], [no_contract], [no_cus], [type_service], [tgl_contract], [tgl_contract_exp], [created_by], [created_at]) VALUES (2, N'0/PW-KS/25', N'CT2400189', N'KS', CAST(N'2025-08-01' AS Date), CAST(N'2025-08-04' AS Date), 1, CAST(N'2025-08-01T10:42:31.827' AS DateTime))
INSERT [dbo].[VTK_Contract] ([id], [no_contract], [no_cus], [type_service], [tgl_contract], [tgl_contract_exp], [created_by], [created_at]) VALUES (3, N'1/PW-GR/25', N'CT2400183', N'GR', CAST(N'2025-08-01' AS Date), CAST(N'2025-08-03' AS Date), 1, CAST(N'2025-08-01T10:43:21.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_Contract] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_Contract_Machine] ON 

INSERT [dbo].[VTK_Contract_Machine] ([id], [id_contract], [no_seri], [tgl_instalasi], [lokasi], [created_by], [created_at]) VALUES (1, N'1', N'A5AW041000066', CAST(N'2025-08-11' AS Date), N'VILLA MUTIARA CINERE', 1, CAST(N'2025-08-01T10:41:47.983' AS DateTime))
INSERT [dbo].[VTK_Contract_Machine] ([id], [id_contract], [no_seri], [tgl_instalasi], [lokasi], [created_by], [created_at]) VALUES (2, N'2', N'ACC2041020430', CAST(N'2025-08-01' AS Date), N'KP CIKUYA', 1, CAST(N'2025-08-01T10:42:31.827' AS DateTime))
INSERT [dbo].[VTK_Contract_Machine] ([id], [id_contract], [no_seri], [tgl_instalasi], [lokasi], [created_by], [created_at]) VALUES (3, N'3', N'A50V041000708', CAST(N'2025-08-01' AS Date), N'DSN NGAWINAN', 1, CAST(N'2025-08-01T10:43:21.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_Contract_Machine] OFF
GO
INSERT [dbo].[VTK_Contract_Type] ([type_name], [last_count]) VALUES (N'Chrg', 0)
INSERT [dbo].[VTK_Contract_Type] ([type_name], [last_count]) VALUES (N'GR', 3)
INSERT [dbo].[VTK_Contract_Type] ([type_name], [last_count]) VALUES (N'KS', 2)
GO
SET IDENTITY_INSERT [dbo].[VTK_Customer] ON 

INSERT [dbo].[VTK_Customer] ([id], [no_cus], [nama_cus], [no_seri], [alias], [kode_area], [updated_at], [created_by], [created_at]) VALUES (1, N'CT2200194', N'YOEL GLORIUS RIO YOHANES', N'undefined', N'marcel edit', 25, CAST(N'2025-08-07T16:26:27.000' AS DateTime), 1, CAST(N'2025-08-07T15:32:33.700' AS DateTime))
INSERT [dbo].[VTK_Customer] ([id], [no_cus], [nama_cus], [no_seri], [alias], [kode_area], [updated_at], [created_by], [created_at]) VALUES (2, N'CT2400113', N'IDEADIGI MEDIA PRATAMA', N'undefined', N'marcel1', 10, CAST(N'2025-08-07T15:33:03.000' AS DateTime), 1, CAST(N'2025-08-07T15:33:03.730' AS DateTime))
INSERT [dbo].[VTK_Customer] ([id], [no_cus], [nama_cus], [no_seri], [alias], [kode_area], [updated_at], [created_by], [created_at]) VALUES (3, N'CT2400197', N'ADAWIYAH', N'undefined', N'Alias ADAWIYAH', 2, CAST(N'2025-08-20T10:25:13.000' AS DateTime), 1, CAST(N'2025-08-07T16:35:55.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_Instalasi] ON 

INSERT [dbo].[VTK_Instalasi] ([id], [id_kontrak], [no_seri], [tgl_instalasi], [lokasi], [created_by], [created_at]) VALUES (2, N'CONT3D19FE', N'AC58041020338', CAST(N'2025-07-03' AS Date), N'JL. BUNGUR', N'1', CAST(N'2025-07-02T14:18:25.023' AS DateTime))
INSERT [dbo].[VTK_Instalasi] ([id], [id_kontrak], [no_seri], [tgl_instalasi], [lokasi], [created_by], [created_at]) VALUES (10007, N'undefined', N'A92W041000059', CAST(N'2025-07-15' AS Date), N'kontrak', N'1', CAST(N'2025-07-11T15:47:03.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_Instalasi] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_LK] ON 

SET IDENTITY_INSERT [dbo].[VTK_LK] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_LK_Approval] ON 

INSERT [dbo].[VTK_LK_Approval] ([id], [id_lk], [id_approver], [approved], [created_at]) VALUES (1, 1, 21, 2, CAST(N'2025-08-22T13:44:48.693' AS DateTime))
INSERT [dbo].[VTK_LK_Approval] ([id], [id_lk], [id_approver], [approved], [created_at]) VALUES (2, 2, 21, 2, CAST(N'2025-08-22T13:46:39.963' AS DateTime))
INSERT [dbo].[VTK_LK_Approval] ([id], [id_lk], [id_approver], [approved], [created_at]) VALUES (3, 3, 21, 2, CAST(N'2025-08-22T13:48:01.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_LK_Approval] OFF
GO
SET IDENTITY_INSERT [dbo].[VTK_User] ON 

INSERT [dbo].[VTK_User] ([id], [name], [email], [role], [updated_at], [created_by], [created_at]) VALUES (1, N'Teknisi 1', N'teknisi01@perdana.biz', N'[1]', CAST(N'2025-08-07T09:56:40.607' AS DateTime), 1, CAST(N'2025-08-07T09:56:40.607' AS DateTime))
INSERT [dbo].[VTK_User] ([id], [name], [email], [role], [updated_at], [created_by], [created_at]) VALUES (2, N'Teknisi 2', N'teknisi02@perdana.biz', N'[1]', CAST(N'2025-08-07T09:56:40.607' AS DateTime), 1, CAST(N'2025-08-07T09:56:40.607' AS DateTime))
INSERT [dbo].[VTK_User] ([id], [name], [email], [role], [updated_at], [created_by], [created_at]) VALUES (3, N'Teknisi 3', N'teknisi03@perdana.biz', N'[1]', CAST(N'2025-08-07T09:56:40.607' AS DateTime), 1, CAST(N'2025-08-07T09:56:40.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[VTK_User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_VTK_Contract_no_contract]    Script Date: 28/08/2025 16.47.41 ******/
ALTER TABLE [dbo].[VTK_Contract] ADD  CONSTRAINT [UQ_VTK_Contract_no_contract] UNIQUE NONCLUSTERED 
(
	[no_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VTK_Area] ADD  CONSTRAINT [DF_VTK_Area_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[VTK_Area] ADD  CONSTRAINT [DF_VTK_Area_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_Barang] ADD  CONSTRAINT [DF_VTK_Barang_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_Contract] ADD  CONSTRAINT [DF_VTK_Contract_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_Contract_Machine] ADD  CONSTRAINT [DF_VTK_Contract_Machine_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_Contract_Type] ADD  DEFAULT ((0)) FOR [last_count]
GO
ALTER TABLE [dbo].[VTK_Customer] ADD  CONSTRAINT [DF_VTK_Customer_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[VTK_Customer] ADD  CONSTRAINT [DF_VTK_Customer_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_Instalasi] ADD  CONSTRAINT [DF_VTK_Instalasi_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_LK] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_LK_Approval] ADD  CONSTRAINT [DF_VTK_LK_Approval_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VTK_User] ADD  CONSTRAINT [DF_VTK_User_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[VTK_User] ADD  CONSTRAINT [DF_VTK_User_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
